@font-face {
    font-family: Inter;
    src: url(https://fonts.google.com/specimen/Inter);
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/*Containers*/
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 70%;
    min-height: auto;
}

/*Classes*/
.description-text {
    color: white;
    margin: 0;
    font-family: Inter;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.user-link {
    text-decoration: none;
    color: white;
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    margin: 1rem 0 1rem 0;
    padding: 0.8rem 0 0.8rem 0;
    border-radius: 0.5rem;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.user-link:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

/*IDs*/
#user-name {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

#user-location {
    margin-top: 0.5rem;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

#user-description {
    margin: 1.5rem 0 1.5rem 0;
    font-weight: 400;
}

#github {
    margin-top: 0;
}

@media screen and (min-width: 576px) {
    .description-container {
        max-width: 35%;
    }
}

@media screen and (min-width: 768px) {
    .avatar {
        width: 7rem;
        height: 7rem;
    }

    .user-link {
        margin: 0.6rem 0 0.6rem 0;
        padding: 0.8rem 0 0.8rem 0;
    }

    #user-name {
        margin-top: 2rem;
    }

    #user-description {
        margin: 2rem 0 2rem 0;
    }
}

@media screen and (min-width: 992px){
    .description-container {
        max-width: 35%;

    }
}

@media screen and (min-width: 1200px) {
    .description-container {
        max-width: 20%;
        height: auto;
    }
}

@media screen and (orientation: landscape) and (max-width: 992px){
    html {
        font-size: 8px;
    }
    .description-container {
        height: auto;
        max-width: 35%;
    }    
}